.auth-screen {
  width: 300px;
  height: 100%;
  background: #fff;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-image img {
  width: 300px;
  height: 300px;
  padding: 0;
  border-radius: 20px;
  margin-bottom: 15px;
}

.auth-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
  align-self: flex-start;
}

.input-group {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}

.input-group input {
  width: 300px;
  padding: 15px;
  border-radius: 25px;
  border: none;
  background: #f3f3f3;
  font-size: 15px;
}

.input-group .eye {
  position: absolute;
  right: 12px;
  top: 50%;
  width: 20px;
  height: 20px;
  background: url("eye-icon.svg") no-repeat center/cover;
  transform: translateY(-50%);
  cursor: pointer;
}

.options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 20px;
}

.btn-main {
  width:325px;
  padding: 15px;
  border: none;
  border-radius: 25px;
  background: #ff7300;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 25px;
}

.divider {
  font-size: 13px;
  color: #999;
  margin: 10px 0;
  margin-left: 25px;
}

.socials {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-bottom: 15px;
  margin-left: 25px;
}

.socials button {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: #f3f3f3;
  font-size: 14px;
  cursor: pointer;
}

.terms, .account-text {
  font-size: 12px;
  text-align: center;
  color: #555;
  margin-left: 25px;
}

.terms a, .account-text a {
  color: #ff7300;
  text-decoration: none;
  font-weight: 500;
}
