.phone {
  background: linear-gradient(to top, #ffffff, #f2f2f2 60%, #e6e6e6) !important;
  height: 100vh !important;
  overflow: hidden;

}
@media (max-width: 768px) {
  .phone {
    overflow: hidden !important;
  }
  html body{
    overflow: hidden !important;
  }

}


.screen {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.back-btn {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  cursor: pointer;
  background-color: white; 
  color: #004d33;    
  border: none;         
  border-radius: 50%;   
}
.status-bar{
  display: none;
}
.logo-wrapper {
  margin: 10px 0;
  margin-top: 0 !important;
}
.logo {
  width: 90px;
  height: 90px;
  border-radius: 15px;
  object-fit: contain;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0 5px;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-top: 0 !important;
  margin-bottom: 20px;
  max-width: 250px;   
  text-align: center; /
}
.form-group {
  width: 100%;
  margin-bottom: 15px;
  position: relative; 
}

.form-group input {
  width: 85%; 
  padding: 12px 12px 12px 40px; /* sola ikon boşluğu */
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
}

.form-group .icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
  pointer-events: none;
}

.form-group .icon-right {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
  cursor: pointer; 
}

.options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 20px;
}
.options label {
  display: flex;
  align-items: center;
  gap: 5px;
}
.options .link {
  text-decoration: none;
  color: #008060;
}

.btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}
.btn.primary {
  background-color: #008060;
  color: #fff;
  border-radius: 20px;
}
.btn.social {
  display: flex;    
  align-items: center; 
  justify-content: center; 
  background: #fff;
  border: 1px solid #ddd;
  font-size: 15px !important;
  padding: 8px 12px;    
  gap: 8px;                 
}

.btn.social img {
  width: 18px;
  height: 18px;
}

.divider {
  display: flex;
  align-items: center;
  margin: 12px 0;
  width: 100%;
}

.divider .line-left,
.divider .line-right {
  flex-grow: 1;
  height: 1px;
  transform: scaleY(0.5);
  transform-origin: center;
  background: linear-gradient(to right, transparent, #00C060); 
}

.divider .line-right {
  background: linear-gradient(to left, transparent, #00C060);
}

.divider .text {
  margin: 0 10px;
  font-size: 14px;
  color: #999;
  white-space: nowrap;
}


.bottom-text {
  font-size: 13px;
  color: #555;
}
.bottom-text a {
  color: #008060;
  text-decoration: none;
  font-weight: 600;
}
